{% extends "base.html" %}
{% block content %}

<!-- Add Course -->
<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Fill in the details.</h3>
    <form method="POST" action="/courses/add">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class="w3-input w3-border" type="text" name="coursecode" id="coursecode" placeholder="Course Code" required>
        <input class="w3-input w3-section w3-border" type="text" name="coursename" id="coursename" placeholder="Course Name" required>  
        <select class="w3-input w3-border" name="collegecode" id="collegecode" required>
            <option value="" disabled selected>Collegecode</option>
            {% for college in colleges %}
                <option value="{{ college.collegecode }}">{{ college.collegecode }}</option>
            {% endfor %}
        </select>
        <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> ADD COURSE
        </button>
    </form>
</div>
<div class="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
