{% extends "base.html" %}
{% block content %}


<!-- Courses Section -->
<div class="w3-container w3-padding-32" id="courses">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Course Information</h3>

    <!-- Add Course Button -->
    <button class="w3-button w3-black w3-section" onclick="showAddCourseForm()">
      <i class="fa fa-plus"></i> Add Course
    </button>
    

<!-- Search Bar -->
<form method="POST" action="/courses/search">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="input-group mb-3">
      <input class="w3-input w3-border w3-section" type="text" placeholder="Search for a course" id="search_course" name="search_course">
      <div class="input-group-append">
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-search"></i> SEARCH
        </button>
      </div>
    </div>
  </form>

    <!-- Course Table -->
    <table class="w3-table w3-striped">
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>College Code</th>
            <th>Actions</th>
        </tr>
        <tr>
            {% for course in courses %}
            <tr>
                <td> {{ course.coursecode }}</td>
                <td> {{ course.coursename }}</td>
                <td> {{ course.collegecode }}</td>
                <td>
                  <button type="button" id="editCourse_{{ course.coursecode }}" onclick="editCourse('{{ course.coursecode }}','{{ course.coursename }}', '{{ course.collegecode }}')"><i class="fa fa-edit fa-lg" title="Edit"></i></button>
                  
                  <button type="button" id="deleteCourse" course-code="{{course.coursecode}}" csrf-token="{{csrf_token()}}" onclick="deleteCourse(this)"><i class="fa fa-trash fa-lg" title="Delete"></i></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>



      <script>
        function editCourse(coursecode, coursename, collegecode) {
          console.log('Edit button clicked');
          console.log('Course Code:', coursecode);
          console.log('Course Name:', coursename);
          console.log('College Code:', collegecode);
          // Redirect to the editcourse.html page with the appropriate query parameters
          window.location.href = '/courses/edit?coursecode=' + coursecode + '&coursename=' + coursename, '&collegecode' + collegecode;
      }
  
      function submitForm() {
          // Reference the form by its ID
          var form = document.getElementById('editCourseForm');
          // Submit the form
          form.submit();
      }

        function showAddCourseForm() {
          // Redirect to the add course page
          window.location.href = '/courses/add';
        }
      </script>
    </div>
{% endblock %}

