{% extends "base.html" %}
{% block content %}
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src={{ url_for('static', filename='classroom.jpg') }} alt="Architecture" width="1500" height="800" style="opacity: 0.9;">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Student</b></span> <span class="w3-hide-small w3-text-light-grey">Information System</span></h1>
  </div> 
</header>
{% endblock  %}