{% extends "base.html" %}
{% block content %}
  <!-- Student Section -->
  <div class="w3-container w3-padding-32" id="students">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Student Information</h3>
    
    <!-- Add Student Button -->
    <button class="w3-button w3-black w3-section" onclick="showAddStudentForm()">
      <i class="fa fa-plus"></i> Add Student
    </button>

    <!-- Search Bar -->
    <form method="POST" action="/students/search">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="input-group mb-3">
        <input class="w3-input w3-border w3-section" type="text" placeholder="Search for a student" id="search_student" name="search_student">
        <div class="input-group-append">
          <button class="w3-button w3-black" type="submit">
            <i class="fa fa-search"></i> SEARCH
          </button>
        </div>
      </div>
    </form>

  <!-- Student Table -->
  <table class="w3-table w3-striped">
    <tr>
      <th>Profile</th>  
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Course</th>
      <th>College</th>
      <th>Year</th>
      <th>Gender</th>
      <th>Actions</th>
    </tr>
    {% for student in students %}
    <tr id="student_row_{{ student.id }}">
      <td> <img id="student_image" src="{{ student.image_url or "https://res.cloudinary.com/dxsfyb8kj/image/upload/v1701792008/ssis/0d37e2266c3a6983fdeddbb4e2eafa87_tzglpn.jpg" }}" alt="{{ student.id }}"> </td>
      <td>{{ student.id }}</td>
      <td>{{ student.firstname }}</td>
      <td>{{ student.lastname }}</td>
      <td>{{ student.coursecode }}</td>
      <td>{{ student.collegecode }}</td>
      <td>{{ student.yearlevel }}</td>
      <td>{{ student.gender }}</td>
      <td>
        <button type="button" id="editStudent_{{ student.id }}" onclick="editStudent('{{ student.id }}', '{{ student.firstname }}', '{{ student.lastname }}', '{{ student.coursecode }}', '{{ student.yearlevel }}', '{{ student.gender }}', '{{student.image_url}}')">
          <i class="fa fa-edit fa-lg" title="Edit"></i>
        </button>
        <button type="button" id="deleteStudent_{{ student.id }}" student-id="{{ student.id }}" csrf-token="{{ csrf_token() }}" onclick="deleteStudent(this)">
          <i class="fa fa-trash fa-lg" title="Delete"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>



  <script>
    function editStudent(student_id, firstname, lastname, coursecode, yearlevel, gender, image_url) {
      console.log('Edit button clicked');
      console.log('First Name :', firstname);
      console.log('Last Name:', lastname);
      console.log('Course Code:', coursecode);
      console.log('Year Level:', yearlevel);
      console.log('Gender:', gender);
      console.log('Image URL:', image_url);
      window.location.href = '/students/edit?student_id=' + student_id +
                   '&first_name=' + firstname +
                   '&last_name=' + lastname +
                   '&course_code=' + coursecode +
                   '&year_level=' + yearlevel +
                   '&gender=' + gender +
                   '&image_url=' + image_url;
    }

    function submitForm() {
        // Reference the form by its ID
        var form = document.getElementById('editStudentForm');
        // Submit the form
        form.submit();
    }
    
      function showAddStudentForm() {
        // Redirect to the add student page
        window.location.href = '/students/add';
      }
  </script>
  
</div>
{% endblock %}
